{% extends "base_dark.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4 login-container auto-container">
      <div class="text-center logo register-logo col-md-12">grumblr</div>
      <div class="text-center login-title">Forgotten your password?</div>
      <div class="text-center forgot-message">
        Enter your email address below, and we'll email instructions for setting a new one.</div>
      <form method="post"> {%csrf_token%}
        <input id="id_email" maxlength="254" class="form-control login-input" placeholder="Email" name="email" type="email" required />
        <button type="submit" class="center-block btn-lg login-btn">Reset</button>
      </form>
    </div>
  </div>
</div>


{% endblock content %}