{% extends "base_dark.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 login-container auto-container">
            <div class="text-center logo register-logo col-md-12">grumblr</div>
            <div class="text-center signup-title">Change Password?</div>
            <form method="post"> {%csrf_token%}
                <input id="id_email" class="form-control login-input" placeholder="Old Password" name="old_password" type="password" required> 
                {{form.old_password.errors}}
                <input id="id_email" class="form-control login-input" placeholder="New Password" name="new_password1" type="password" required />
                {{form.new_password1.errors}}
                <input id="id_email" class="form-control login-input" placeholder="Confirm Password" name="new_password2" type="password" required> 
                {{form.new_password2.errors}}

                <button type="submit" class="center-block btn-lg login-btn">Change</button>
            </form>
            {% if form.non_field_errors %}
            <div class="register-error">
                * {{form.non_field_errors|first}}
            </div>
            {%endif%}
            {% if form.field_errors %}
            <div class="register-error">
                * {{form.non_field_errors|first}}
            </div>
            {%endif%}

        </div>
    </div>
</div>

{% endblock content %}