{% extends "base_dark.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4 login-container">
      <div class="text-center logo register-logo col-md-12">grumblr</div>
      <div class="text-center login-title">Password reset sent</div>
      <div class="text-center forgot-message">
        
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        <br><br>
        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </div>
    </div>
  </div>
</div>


{% endblock content %}