{% extends "base_dark.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4 login-container auto-container">
      <div class="text-center logo register-logo col-md-12">grumblr</div>
      <div class="text-center login-title">Email verification</div>
      <div class="text-center forgot-message">
        We've emailed you confimation link to activate your account. You should receive email shortly.
      </div>
    </div>
  </div>
</div>


{% endblock content %}